// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color

$breadcrumb-separator: '>>';

//Images
$header_two_url: "https://d3e3gqpms4ng1j.cloudfront.net/assets/images/header_two.jpg";
$ipad_project_url: "https://d3e3gqpms4ng1j.cloudfront.net/assets/images/ipad_project.jpg";
$comp_and_paper_url: "https://d3e3gqpms4ng1j.cloudfront.net/assets/images/comp-and-paper.jpeg";
$word_map_url: "https://d3e3gqpms4ng1j.cloudfront.net/assets/images/word_map.png";
$avatar_all_url: "https://d3e3gqpms4ng1j.cloudfront.net/assets/images/avatar_all.png";

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #333333;
$nav-profil-pattern: image-url("") no-repeat;
$nav-text-color: #A2A2A2;
$nav-text-active: #FAFAFA;

$body-color: #1A1919;
$old-body-color: #2f4050; //old body color